.logo{
    margin: auto;
    font-size: 150px;
    width:300px;
    height: 70px;

}
.Welcome{
    margin-left: 50%;
    margin-bottom: 40px;
}
.enter_button{

    width: 30px;
    margin-left: 50%;
}
