body{
    margin:0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    
}
.navbar{
    width: 100%;
    background-color: white;
    overflow: hidden;
    height:60px;

}

img{
    margin-bottom: 10px;
}

.top_column{
    margin-top: 0px;
    height: 50px;
    width:100%;
    overflow: hidden;
    background-color: rgb(219, 219, 219);
    
}
.left{
    background-color: rgb(60, 173, 75);
    float:left;
    width: 33%;
    height:100%;
    min-width: 220px;
}
.right{
    width:67%;
    height:100%;
    float:left;
    background-color: rgb(255, 255, 255);
}
.bar{
    height:1px;
    width:100%;
    background-color: rgb(219, 219, 219) ;
    margin:0;
}
.sideBar{ 
    float: left;
    overflow: hidden;
    font-family: Sharp Sans;
    height: 40px;
    background-color: rgb(219, 219, 219);
    margin-top: 0px;
    text-align: center;
    outline-color: black;
    outline-width: 2px;
    padding: 5px;
    padding-top: 15px;
    cursor: pointer;
    
   
}
.sideBar:hover{
    background-color: white;
    transition-duration: .3s;
    
}
.sidebar:focus{
   background-color: white; 

}
p{
    padding-top: 20px;
    font-family: Sharp Sans;
    font-size: 20px;
    color: white;
    padding-left: 20px;
   
}
.content{
    display: none;
}
h{
    font-family: Sharp Sans;
    margin-left: 12px;

}

.box{  
    display: none;
}
.inputBox{
    margin: auto;
    height:30px;
    
}
.API{
   
    margin: 30px;
    height:30px;
}

.Snum{
    margin: 30px;
    height:30px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: auto;
    margin: auto;
    background-color: aliceblue;
    border-radius: 25px;
    height:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.buttonBox{
    border-radius: 25px;
    width: 300px;
    margin:auto;
    height: 60px;
}

table {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border-radius: 25px;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
tr:nth-child(even) {
    background-color: #dddddd;
  }
  

@media (max-width: 768px){
   
    .left_column{
        margin-left:0px;
    }
}