<head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="hello.css"/>
        <link rel="icon" type="image/png" href="favicon.png"/>
        <link rel="stylesheet" href="https://brandfolder.com/meraki/general/#!asset/qg0042-b3sbgg-akw5r4"/>
        <title>Team IDEO</title>
        </head>
        
        <body>
        
        
        <div class="navbar"><img src="logo3.jpg" width="200px" ></div>
        
        <div class="bar"></div>
       
        <div class="top_column">
                
                <div class="sideBar" id="focus" tabindex="0" onclick="showContent(2)">Device</div>
                <div class="sideBar" id="focus" tabindex="0" onclick="showContent(3)">Firewall Info</div>
                <div class="sideBar" id="focus" tabindex="0" onclick="showContent(4)">Firewall Check</div>
        </div>

        <div class="left">
                <p id="leftPage">Enter your API Key:</p>
        <input type="text" class="API" name="API" id="Api" placeholder="API Key.."><br><br>
        <p id="leftPage">Enter your serial number:</p>
        <input type="text"  class="Snum" name="Snum" id="Snum" placeholder="Serial number.."><br><br>
        <div class="buttonBox"><button onclick="send_Serialapi()">Go To Device</button></div>
        <div id="info"></div>
        </div>
        

        <div class="right">
        <div class="content" id="content2">
                <p id="rightPage">Network Name:</p>
                <div id="Deviceinfo"></div>
                <div class="buttonBox"><button id="DeviceButton" onclick="showContent(3)">Firewall Info</button></div>
                <div class="buttonBox"><button id="DeviceButton" onclick="show_all_firewall()">Display ALL Firewalls</button></div>
        </div>


        
        <div class="content" id="content3">
                <div class="row1">
                        <p id="rightPage">Please Enter Source IP:</p>
                        <input type="'text" class="inputBox" name=" SourceIp" id="SourceIp">
                        <p id="rightPage">Please Enter Destination IP:</p>
                        <input type="text" class="inputBox" name="DesIp" id="DesIp">
                        <p id="rightPage">Enter Source port:</p>
                        <input type="text" class="inputBox" name="SrcPort" id="SrcPort">
                        <p id="rightPage">Enter Destination Port:</p>
                        <input type="text" class="inputBox" name="DesPort" id="DesPort">
                        <p id="rightPage">Enter Protocol:</p>
                        <input type="text" class="inputBox" name="Protocol" id="Protocol">
                        <br>
                        <br>
                        <form id="rightPage">
                          <label for="file">Import CSV:</label>
                          <br>
                          <input style="text-align:left" id="file" type="file" />
                        </form>

                </div>
                <div class="buttonBox"><button id="DeviceButton" onclick="send_Firewall_Info()">Check Firewalls</button></div>
                <div id="Display_Firewall_Info"></div>
      
        </div>
        
        <div class="content" id="content4">
               <div id="container"></div>
        
        </div></div>
        
        <script>
                var counter=0;
                var Snum;
                var Api;
                var domain="http://127.0.0.1:5000";


                function show_all_firewall(){
                        showContent(4)

                        var serial = document.getElementById('Snum').value
                        var code = document.getElementById('Api').value
                        var data = {'Api': code, 'Snum': serial}
                        var dataJ = JSON.stringify(data)
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', domain+'/get-firewall');
                        xhr.setRequestHeader("Content-Type", "application/json")
                        xhr.setRequestHeader("Access-Control-Allow-Origin", "*")

                        xhr.onload =  function () {
                                console.log(xhr.response)
                                var jsonVal = JSON.parse(xhr.response)
                                convert(jsonVal)
                        }

                        xhr.send(dataJ);



                }

                $('#file').on('change', function() {
                        var fileSelect = document.getElementById('file');
                        var files = fileSelect.files;
                        var code = document.getElementById('Api').value
                        var serial = document.getElementById('Snum').value
                        var data = {'Api': code, 'Snum': serial}
                        data = JSON.stringify(data)
                        var formData = new FormData();
                        var file = files[0];
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', domain+'/fileUpload', true);
                        formData.append("file", file);
                        formData.append("data", data)
                        xhr.onload = function () {
                                  if (xhr.status === 200) {
                                        alert('Your upload is successful..');
                                        var blob = new Blob([this.response], {type: 'text/csv;charset=utf-8'});
                                        //Create a link element, hide it, direct it towards the blob, and then 'click' it programatically
                                        let a = document.createElement("a");
                                        a.style = "display: none";
                                        document.body.appendChild(a);
                                        //Create a DOMString representing the blob and point the link element towards it
                                        let url = window.URL.createObjectURL(blob);
                                        a.href = url;
                                        a.download = 'myFile.csv';
                                        //programatically click the link to trigger the download
                                        a.click();
                                        //release the reference to the file by revoking the Object URL
                                        window.URL.revokeObjectURL(url);
                                  } else {
                                    alert('An error occurred during the upload. Try again.');
                                  }
                        };

                                // Send the data.
                        xhr.send(formData);
                        });


                function displayFirewall(){

                var url = "http://127.0.0.1:5000"
                // add domain name
                const xhr = new XMLHttpRequest();
                xhr.open("POST", domain+'/get-firewall')
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*")
                xhr.onreadystatechange = () => {
                      // Call a function when the state changes.
                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                                // Request finished. Do processing here.
                        }
                      };
                var code = document.getElementById('Api').value
                var serial = document.getElementById('Snum').value
                output = JSON.stringify({Api:code, Snum:serial})
                xhr.send(output);
                xhr.onload = function(){
                        console.log(xhr.response)
                        }
                }
                function sendData(){
                        
                document.getElementById('input').innerHTML = 'yes'
                // add domain name
                const xhr = new XMLHttpRequest();
                xhr.open("POST", domain+'/test')
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*")
                xhr.onreadystatechange = () => {
                      // Call a function when the state changes.
                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                                // Request finished. Do processing here.
                        }
                      };
                var code = document.getElementById('code').value
                var serial = document.getElementById('serial').value
                output = JSON.stringify({code:code, serial:serial, TestPacket: TestPacket})
                xhr.send(output);
                xhr.onload = function(){
                        document.getElementById('input').innerHTML = xhr.response
                        console.log(xhr.response)
                        }
                }


               function showContent(boxNumber){
                var contentElements = document.querySelectorAll(".content");
                contentElements.forEach(function(element){
                        element.style.display = "none";
                });
                var selectContent = document.getElementById("content" + boxNumber);
                selectContent.style.display ="block";
               }


               function send_Serialapi(){
                showContent(2)
                document.getElementById('Deviceinfo').innerHTML = 'List for device Info'
                Api = document.getElementById("Api").value;
                Snum = document.getElementById("Snum").value;
                const xhr = new XMLHttpRequest();

                xhr.open("POST", domain+'/check_key_and_serial');//opens url
                xhr.setRequestHeader("Content-type", "application/json");

                const body = JSON.stringify({Api:Api, Snum:Snum});
                document.getElementById('Deviceinfo').innerHTML = "Attempting Communication..."

                xhr.onreadystatechange = () =>{

                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 200){//if server is ready will do processing
                                document.getElementById('Deviceinfo').innerHTML = "Processing"
                        }
                };

                xhr.onload = () => { //listener event 
                        document.getElementById('Deviceinfo').innerHTML = xhr.response
                        console.log(xhr.response);//gets response from server
                };
                xhr.send(body); //sends data to server 
               }

               function send_Firewall_Info(){//test packet
                var srcIP = document.getElementById("SourceIp").value;
                var destIP = document.getElementById("DesIp").value;
                var srcPort = document.getElementById("SrcPort").value;
                var desPort= document.getElementById("DesPort").value;
                var Protocol= document.getElementById("Protocol").value;


                var url = domain + "/check"
                const xhr = new XMLHttpRequest();
                xhr.open("POST", url)
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.setRequestHeader("Access-Control-Allow-Origin", "*")

                output = JSON.stringify({Snum: Snum,
                Api: Api,
                srcIP : srcIP,
                destIP: destIP,
                srcPort:srcPort,
                desPort:desPort,
                proto:Protocol})

                xhr.send(output);
                xhr.onload = function(){
                       document.getElementById('Display_Firewall_Info').innerHTML = xhr.response
                console.log(xhr.response)
                }

                //
                //send error if serial and api were no filled out
               }
             //function to display all firewall
                function convert(data) {
                        counter++;
                        
                        
                       
         // Sample JSON data
         let jsonData = data
         

         let container = document.getElementById("container");
         
         
         let table = document.createElement("table");
         
         // Get the keys (column names) of the first object in the JSON data
         let cols = Object.keys(jsonData[0]);
         
         // Create the header element
         let thead = document.createElement("thead");
         let tr = document.createElement("tr");

         
         // Loop through the column names and create header cells
         cols.forEach((item) => {
            let th = document.createElement("th");
            th.innerText = item; 
            tr.appendChild(th); 
         });
         thead.appendChild(tr); 
         table.append(tr) 
         
         if( counter >= 2){
                             document.getElementById("container").innerHTML = "";
                        }
         jsonData.forEach((item) => {
            let tr = document.createElement("tr");
            // Get the values of the current object in the JSON data
                let vals = Object.values(item);  
            vals.forEach((elem) => { // Loop through the values and create table cells
               let td = document.createElement("td");
               td.innerText = elem; 
               tr.appendChild(td); 
            });
            table.appendChild(tr); 
         });
         container.appendChild(table) 
      }
         
         
         
               
               //update and pull data 


        </script>
        </body> 