<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="welcome.css">
    
</head>
<body>
    <div>
        <img class="logo" src="logo3.jpg">
        <div class='Welcome'>Welcome</div>
        <div class="Description">This is an interactive website for Meraki users to test their firewall match policy. 
            Contributers on this project include: Daya Perry, Ethan Royce, Omid Najibzadeh, and Isaac Thompson. 
            For more information on how this website works click the KB button below. 
            And to begin testing your firewall policies please press begin!
        </div>
        <a class="enter_button" href=hello.html><button> Begin!</button></a>
    </div>
</body>
</html>