<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <title>Welcome</title>
    <link rel="stylesheet" href="welcome.css">
   
</head>
<body>
    <div class="navbar"><img class="logo" src="logo3.jpg"></div>
    <div class="center">
        <div class='Welcome'>Welcome</div>
        <div class="info">This is our Fall 2023 intern Project. This project is based on the current methods of checking firewall policies. We sought out to make this method simplier not only for Meraki clients but for the NSEs
            troubleshooting related issues.
        </div>
        <div class="Bar">
            <a href="hello.html"><div class="topic"><b> Begin!</b></div></a>
            <a href="#About"><div class="topic" onclick="showContent()"><b>About Us</b></div></a>
            <a href="kb.pdf"><div class="topic"><b>KB</b></div></a>
           
         </div>


         <div class="About" id="About">This project was divided into 4 components. <br> <b>Ethan Royce</b> worked on the backend and quality assurance.<br>
            <b>Daya Perry</b> worked on the frontend development. <br> <b>Isaac Thompson</b> worked on the research, concept documentation, and concept GUI.<br><b>Omid Najibzadeh</b> responsible for full stack.
             
         </div>
       
       
    </div>


    <script>
       
         function showContent(){
            document.getElementById("About").style.display = "block";
         }
         
         
    </script>
</body>
</html>
