<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="welcome.css">
    
</head>
<body>
    <div class="navbar"><img class="logo" src="logo3.jpg"></div>
    <div class="center"> 
        <div class='Welcome'>Welcome</div>
        <div class="info">This is our Fall 2023 intern Project. This project is based on the current methods of checking firewall policies. We sought out to make this method simplier to only for the customers but for the NSEs 
            troubleshooting related issues.
        </div>
        <div class="Bar">
            <a href="hello.html"><div class="topic"><b> Begin!</b></div></a>
            <div class="topic"><b>About Us</b></div>
            <div class="topic"><b>KB</b></div>
           
         </div>
        
        
    </div>
</body>
</html>